$color-rojo: red; 
$nombre-variable: valor;

body{
    margin: 0px;
    padding: 0px;
}
.contenedor-card{
    width: 300px;
    height: auto;
    background-color: aqua;
    padding: 10px;
    margin: -top 10px;
    h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        colo: $color-rojo
    }
}p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.cont-img{
    width: 100%;
    height: 200px;
    background-image: url(../IMG/PEZ-1.jpg);
    background-size: cover;
    background-position: center;
}
#img-pez-b{
    background-image: url(../IMG/pez-2.jpg);   
}
.btn-card{
    background-color: bisque;
    width: 180px;
    text-align: center;
    padding: 9px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:$color-rojo
}
.btn-card:hover{
    cursor: pointer;
    box-shadow: 0px 0px rgba green,(0, 0, 0, 6);
}
.text-center{
    text-align: center;
}
.mx-auto{
    margin: 0 auto;
}
